.AA-img-cta-shape{
    position: absolute;
    right: 100px;
    bottom: 0px;
    z-index: 2;
}

.AA-sec-position-contact{
    top: 100px;
}

.AA-custom-img-pos{
    bottom: -48px
}
.AA-custom-img-pos-back{
    bottom: -48px;
    left: -2px
}